<!DOCTYPE html>
<html>

<head>
    <title>Sentiment Analysis</title>
</head>

<body>
    <h1>Sentiment Analysis</h1>
    <form method="POST">
        <label for="text">Enter text:</label>
        <input type="text" id="text" name="text">
        <button type="submit">Analyze</button>
    </form>
    {% if results %}
    <h2>results:</h2>
    <p>{{ results.text }}</p>
    <p>Sentiment: {{ results.sentiment }}</p>
    <p>Positive confidence: {{ results.positive }}</p>
    <p>Neutral confidence: {{ results.neutral }}</p>
    <p>Negative confidence: {{ results.negative }}</p>
    {% endif %}
</body>

</html>